<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <title>Portão Preto</title>
    <link rel="stylesheet" href="./carrinho.css" />
  </head>
  
  <body>
    

    <div id="app">

      <header class="container">
       
        </ul>
        <span class="count">{{ itemCount }} itens no carrinho.</span>
      </header>

      <section class="container">
        <div v-if="produtos.length > 0">
          <ul class="products">
            <li class="row" v-for="(produto, index) in produtos">
              <div class="col left">
                <div class="thumbnail">
                  <a href="#">
                    <img :src="produto.img_url" :alt="produto.name" />
                  </a>
                </div>
               
                <div class="detail">
                  <div class="name"><a href="#">{{ produto.title }}</a></div>
                  <div  class="description">{{ produto.description }}</div>
                  <div class="price">
                    {{ produto.price | currencyFormatted }}
                  </div>
                </div>
              </div>

              <div class="col right">
                <div class="quantity">
                  <input
                    type="number"
                    class="quantity"
                    step="1"
                    :value="1"
                    @input="updateQuantity(index, $event)"
                    @blur="checkQuantity(index, $event)"
                    readonly
                  />
                </div>
                <div class="remove">
                  <svg
                   
                    @click="removeItem(produto.id)"
                    version="1.1"
                    class="close"
                    xmlns="//www.w3.org/2000/svg"
                    xmlns:xlink="//www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 60 60"
                    enable-background="new 0 0 60 60"
                    xml:space="preserve"
                  >
                    <polygon
                      points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812"
                    ></polygon>
                  </svg>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div v-else class="empty-product">
          <h3>Não existem produtos no seu carrinho.</h3>
          <button onclick="location.href='./index.html';" >Comprar Agora</button>
        </div>
      </section>
      <!-- End Product List -->

      <!-- Summary -->
      <section class="container" v-if="produtos.length > 0">
        <div class="promotion">
          <label for="promo-code">Possui algum cupom?</label>
          <input type="text" id="promo-code" v-model="promoCode" />
          <button type="button" @click="checkPromoCode"></button>
        </div>

        <div class="summary">
          <ul>
            <li>Subtotal <span>{{ subTotal | currencyFormatted }}</span></li>
            <li v-if="discount > 0">
              Cupom <span>{{ discountPrice | currencyFormatted }}</span>
            </li>
            <li>Taxa <span>{{ tax | currencyFormatted }}</span></li>
            <li class="total">
              Total <span>{{ totalPrice | currencyFormatted }}</span>
            </li>
          </ul>
        </div>

        <div class="checkout">
          <button type="button">Finalizar</button>
        </div>
      </section>
      <!-- End Summary -->
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="./carrinho.js"></script>
    <script src="./js/carrinho/remover.js"></script>
  </body>
</html>
