* {
  margin: 0;
}

body {
  background-color: #121212;
}

#cardForm {
  height: auto;
  min-height: 280px;
  width: 95%;
  border-style: solid;
  border-color: #bb86fc;
  border-width: 1px;
  border-radius: 15px;
  background-color: #1e1e1e;
  margin: 6.5px auto;
  display: flex;
  flex-direction: column;
}

#cardForm:hover {
  height: auto;
  width: 95%;
  border-style: solid;
  border-color: #48dac6;
  border-width: 1px;
  border-radius: 15px;
  background-color: #1e1e1e;
  margin: 6.5px auto;
}

#cardForm:hover #caixaPreco {
  background-color: #48dac6;
}

#imgFundo {
  background-color: #fff;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px 10px 0px 0px;
}

#nomeProduto {
  color: #d2d1d1;
  text-align: left;
  margin-top: 1px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 10px 0px 0px 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#descricaoProduto {
  color: #d8d8d8;
  padding: 20px 10px 20px;
  margin-top: -15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  font-size: 16px;
  margin-bottom: 0;
}

#botaoComprar {
  background-color: #bb86fc;
  height: 32px;
  font-weight: bold;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 85%;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #1e122a;
  cursor: pointer;
  font-size: 16px;
}

#botaoComprar:hover {
  transition-duration: 0.5s;
  background-color: #fe9801;
}

.grid {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 15px auto;
  grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
}

#imformacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

#caixaPreco {
  background-color: #bb86fc;
  width: 100px;
  padding: 5px;
  height: 22px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #fff;
  float: right;
  margin-top: 155px;
  margin-right: 10px;
}
