#navbar {
  height: 60px;
  width: 100%;
  background-color: #bb86fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pesquisa {
  min-width: 350px;
  height: 35px;
  border: 0;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#bntBuscar {
  margin-left: 10px;
  height: 35px;
  width: 80px;
  background-color: #121212;
  border-radius: 15px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#bntBuscar:hover {
  margin-left: 10px;
  height: 35px;
  width: 80px;
  background-color: #2c2c2c;
}

#imgCart {
  width: 35px;
  padding-left: 30px;
  padding-right: 5px;
  cursor: pointer;
}

#imgLogo {
  width: 35px;
  margin-right: 30px;
  cursor: pointer;
}
@media (max-width: 600px) {
  #pesquisa {
    min-width: 210px;
    height: 35px;
    border: 0;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #imgLogo {
    width: 35px;
    margin-right: 10px;
    cursor: pointer;
  }
}
